@{
    ViewBag.Title = "About Me";
}

<div class="jumbotron">
    <div class="row">
        <img src="~/img/Me.png" class="img-thumbnail col-md-2" />
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-7">
            <p>Salam!</p>
            <p>
                My name is Jinsu Kim and I am working as a software developer and IT business analyst.
                I feel good to write a code and help users. Have a good day!
            <p>Thanks,</p>
            <p></p>
            <p>Jinsu Kim</p>
            <p></p>
            <p>Email: dhammi@hanmail.net</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#section5").addClass("active");
    });
</script>